@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel
<div>

    @foreach (var x in Model.Books)
    {
        <div class="card card-outline-primary m-1 p-1">
            <div class="bg-faded p-1">
                <h4 class="card-title">@x.Title</h4>
                <p>Author: @x.AuthorFirst @x.AuthorLast</p>
                <p>Publisher: @x.Publisher</p>
                <p>ISBN: @x.ISBN</p>
                <p>Classification @x.Classification</p>
                <p>Category @x.Category</p>
                <p>Number of Pages: @x.Pages</p>
                <span class="badge badge-pill badge-primary" style="float:left">
                    <p>Price: $@x.Price</p>
                </span>
                
                <br />
            </div>
            
        </div>
    }

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
            page-class-normal="btn-outline-dark"
            page-class-selected="btn-primary"
            class="btn-group pull-right m-1"></div>
</div>